#div-card {
    margin: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-around;
}

#section-card {
    border: #e100ff 1px solid;
    width: 25%;
    margin-bottom: 3%;
    border-radius: 20px;
    padding: 15px;
}

#section-card:hover {
    border: #03e9f4 1px solid;

}

#section-card:hover #p-album {
    color: #03e9f4;
}

#link-card {
    text-decoration: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#p-album {
    font-size: 15px;
    color: #e100ff;
}

#album-img {
    width: 60%;
    border-radius: 20px;
}