#page-album {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 5%;
    margin-top: 2%;
    border: 1px solid #ff4bc3;
    border-radius: 20px;
    padding: 3%;
    height: fit-content;
}

#album-details {
    margin: 0;
    width: 40%;
    height: fit-content;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#image-album {
    border-radius: 20px;
    width: 90%;
    margin-bottom: 5%;
}

#artist-name {
    color: azure;
    font-size: 25px;
    color: #ff4bc3;
} 

#div-music-card {
    border: 1px solid #ff4bc3;
    padding: 5%;
    border-radius: 20px;
    margin: 1px;
}