.favorites-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 5%;
    margin-top: 2%;
    border: 1px solid #ff4bc3;
    border-radius: 20px;
    padding: 3%;
    height: fit-content;
}

#div-img-listen {
    margin: 0;
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#img-disco {
    width: 90%;
    border-radius: 50%;
    animation: rotation 7s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

#h2-position {
    color: #ff4bc3;
    font-size: 15px;
    border: #ff4bc3 solid 1px;
    border-radius: 20px;
    padding: 5%;
    letter-spacing: 2px;
    margin-bottom: 35px;
    text-align: center;
    animation: minmax 1s infinite linear;
    animation-direction: alternate;
}

@keyframes minmax {
    to {
        box-shadow: 0 0 2px #ff4bc3, 
                0 0 10px #ff4bc3,
                0 0 20px #ff4bc3,
                0 0 40px #ff4bc3;
    }
}

#div-music-cards {
    border: 1px solid #ff4bc3;
    padding: 5%;
    border-radius: 20px;
    margin: 1px;
}
