#pricipal-div {
    background-image: url("../images/background.png");
    background-size: cover;
    margin: 0 auto;
    padding: 10%;
    height: 100vh;
    max-width: 1200px;
}

#pricipal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-label {
    border: #e100ff solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #000000;
}

.login-input {
    width: 60%;
    height: 10%;
    border-radius: 20px;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: aquamarine;
}

#image-sound {
    width: 30%;
    margin-top: 15px;
    margin-bottom: 15px;
}

#submit {
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    overflow: hidden;
    transition: 0.2s;
    margin-top: 5%;
    margin-bottom: 20px;
    letter-spacing: 4px;
    background-color: black;
}

#submit:hover {
    background: #03e9f4;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
    color: black;
}
