#form-search {
    border: #e100ff 1px solid;
    border-radius: 20px;
    padding: 3%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    letter-spacing: 4px;
    margin: 5%;
}

#disco-img {
    width: 100px;
    animation: rotation 7s infinite linear;
    border-radius: 50%;
    margin: 10px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

#p-form {
    margin: 10px;
}

#input-search {
    width: 40%;
    height: 18px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    margin: 5px;
    background-color: #000000;
    color: rgb(192, 192, 192);
    border: #e100ff 1px solid;
}

#search-artist-button {
   padding: 2px 2px;
   overflow: hidden;
   color: #03e9f4;
   background-color: #000000;
   transition: 0.2s;
   margin: 5px;
}

#search-artist-button:hover {
    background: #03e9f4;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
    color: black;
}

#h2-artist {
    font-size: 25px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
